{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    
    {% for field in form if field.type != 'CSRFTokenField' %}
        <div class="mb-3">
            {% if field.type != 'SubmitField' %}
                {{ field.label(class="form-label") }}
                {{ field(class="form-control") }}
            {% else %}
                {{ field(class="btn btn-primary") }}
            {% endif %}
            {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

</form>

{% endblock %}